NodeRedWemos.txt
[{"id":"99f063eb.143fe","type":"mqtt in","z":"2f5aa5a8.1bfb3a","name":"Temperature","topic":"wemosTestClient/temperature","qos":"2","broker":"6f281d5.b4febe4","x":200,"y":98,"wires":[["52f697ff.45a5e8"]]},{"id":"17239858.136b68","type":"ui_gauge","z":"2f5aa5a8.1bfb3a","name":"Temp guage","group":"29bafb5.81fef04","order":0,"width":0,"height":0,"gtype":"gage","title":"Inside Temperature","label":"Farenheit","format":"{{value}}","min":0,"max":"100","colors":["#8080ff","#00ff00","#ca3838"],"seg1":"60","seg2":"75","x":539,"y":98,"wires":[]},{"id":"21847cc6.8571f4","type":"ui_chart","z":"2f5aa5a8.1bfb3a","name":"Temp Chart","group":"29bafb5.81fef04","order":0,"width":0,"height":0,"label":"Inside Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":541,"y":157,"wires":[[],[]]},{"id":"f5fb9dc6.28dd9","type":"mqtt in","z":"2f5aa5a8.1bfb3a","name":"Humidity","topic":"wemosTestClient/humidity","qos":"2","broker":"6f281d5.b4febe4","x":192,"y":235,"wires":[["d02c823.04c5e8","d3f8e4f1.77d438"]]},{"id":"f67be1c5.24afd","type":"ui_gauge","z":"2f5aa5a8.1bfb3a","name":"Humid guage","group":"fdd2fc9f.43515","order":0,"width":0,"height":0,"gtype":"gage","title":" Humidity","label":"Percent","format":"{{value}}","min":0,"max":"100","colors":["#8080ff","#00ff00","#ca3838"],"seg1":"60","seg2":"75","x":551,"y":236,"wires":[]},{"id":"b60cb46c.bfefe8","type":"ui_chart","z":"2f5aa5a8.1bfb3a","name":"Humid Chart","group":"fdd2fc9f.43515","order":0,"width":0,"height":0,"label":" Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":543,"y":293,"wires":[[],[]]},{"id":"d02c823.04c5e8","type":"delay","z":"2f5aa5a8.1bfb3a","name":"Rate Limiter","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":356,"y":235,"wires":[["f67be1c5.24afd","b60cb46c.bfefe8"]]},{"id":"52f697ff.45a5e8","type":"delay","z":"2f5aa5a8.1bfb3a","name":"Rate Limiter","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":367,"y":98,"wires":[["17239858.136b68","21847cc6.8571f4"]]},{"id":"e787af44.94b5b","type":"mqtt in","z":"2f5aa5a8.1bfb3a","name":"Pressure","topic":"wemosTestClient/pressure","qos":"2","broker":"6f281d5.b4febe4","x":189,"y":351,"wires":[["25b31d4b.d95ba2"]]},{"id":"7423d1c9.a7bfe","type":"ui_gauge","z":"2f5aa5a8.1bfb3a","name":" Pressure Guage","group":"73907107.3104b","order":0,"width":0,"height":0,"gtype":"gage","title":" Pressure Guage","label":"MiliBars","format":"{{value}}","min":0,"max":"100","colors":["#ff0000","#0080ff","#00ff00"],"seg1":"10","seg2":"80","x":558,"y":352,"wires":[]},{"id":"25b31d4b.d95ba2","type":"delay","z":"2f5aa5a8.1bfb3a","name":"Rate Limiter","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":353,"y":351,"wires":[["7423d1c9.a7bfe","d5574c95.506d2"]]},{"id":"26cf5398.de157c","type":"mqtt in","z":"2f5aa5a8.1bfb3a","name":"Out Temp","topic":"wemosTestClient/Out/temperature","qos":"2","broker":"6f281d5.b4febe4","x":190,"y":456,"wires":[["3e0da354.49c82c","ddc23c22.67371"]]},{"id":"cda64a74.5b4118","type":"ui_gauge","z":"2f5aa5a8.1bfb3a","name":" out temp","group":"db0f1293.4b787","order":0,"width":0,"height":0,"gtype":"gage","title":" Outside Temp Guage","label":"Farenheit","format":"{{value}}","min":0,"max":"100","colors":["#ff0000","#80ff00","#ff0000"],"seg1":"55","seg2":"80","x":534,"y":457,"wires":[]},{"id":"51e8f79a.215438","type":"ui_chart","z":"2f5aa5a8.1bfb3a","name":"Out Temp  Chart","group":"db0f1293.4b787","order":0,"width":0,"height":0,"label":" Outside Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":553,"y":519,"wires":[[],[]]},{"id":"3e0da354.49c82c","type":"delay","z":"2f5aa5a8.1bfb3a","name":"Rate Limiter","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":359,"y":456,"wires":[["cda64a74.5b4118","51e8f79a.215438"]]},{"id":"ddc23c22.67371","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"console":"false","complete":"false","x":364,"y":519,"wires":[]},{"id":"d5574c95.506d2","type":"ui_chart","z":"2f5aa5a8.1bfb3a","name":"Pressure Chart","group":"73907107.3104b","order":0,"width":0,"height":0,"label":" Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":562,"y":404,"wires":[[],[]]},{"id":"bb0327e3.79cff8","type":"mqtt in","z":"2f5aa5a8.1bfb3a","name":"VCC","topic":"wemosTestClient/VCC","qos":"2","broker":"6f281d5.b4febe4","x":176,"y":620,"wires":[["d8bd3d78.ace8e","13076e5c.364d22"]]},{"id":"c9b5b897.276f88","type":"ui_gauge","z":"2f5aa5a8.1bfb3a","name":"VCC Guage","group":"1a254ea6.e12251","order":0,"width":0,"height":0,"gtype":"gage","title":"ESP Voltage","label":"DC Volts","format":"{{value}}","min":0,"max":"10","colors":["#ff0000","#00ff00","#ca3838"],"seg1":"3","seg2":"5","x":556,"y":621,"wires":[]},{"id":"df26931f.a8a02","type":"ui_chart","z":"2f5aa5a8.1bfb3a","name":"VCC Chart","group":"1a254ea6.e12251","order":0,"width":0,"height":0,"label":"ESP Voltage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"10","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":557,"y":678,"wires":[[],[]]},{"id":"d8bd3d78.ace8e","type":"delay","z":"2f5aa5a8.1bfb3a","name":"Rate Limiter","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":350,"y":620,"wires":[["c9b5b897.276f88","df26931f.a8a02"]]},{"id":"13076e5c.364d22","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"console":"false","complete":"false","x":316,"y":700,"wires":[]},{"id":"f01910be.5d27f","type":"ui_text","z":"2f5aa5a8.1bfb3a","group":"ce20c9af.d083f8","order":1,"width":0,"height":0,"name":"","label":"Version:","format":"{{msg.payload}}","layout":"row-left","x":414,"y":900,"wires":[]},{"id":"74efe916.05a778","type":"mqtt in","z":"2f5aa5a8.1bfb3a","name":"wemosTest Version","topic":"wemosTestClient/Version","qos":"2","broker":"6f281d5.b4febe4","x":210,"y":900,"wires":[["f01910be.5d27f","1c8694a9.c3cf7b"]]},{"id":"de52306f.aab77","type":"ui_text","z":"2f5aa5a8.1bfb3a","group":"ce20c9af.d083f8","order":2,"width":0,"height":0,"name":"","label":"IP Addr:","format":"{{msg.payload}}","layout":"row-left","x":416,"y":960,"wires":[]},{"id":"b114ad4d.9b6ab","type":"mqtt in","z":"2f5aa5a8.1bfb3a","name":"wemosTest Ip Addr","topic":"wemosTestClient/IP","qos":"2","broker":"6f281d5.b4febe4","x":213,"y":960,"wires":[["de52306f.aab77"]]},{"id":"b88a2411.b5a928","type":"ui_text","z":"2f5aa5a8.1bfb3a","group":"ce20c9af.d083f8","order":3,"width":0,"height":0,"name":"Hostname","label":"Hostname:","format":"{{msg.payload}}","layout":"row-left","x":430,"y":1032,"wires":[]},{"id":"68d8ed0d.112e14","type":"mqtt in","z":"2f5aa5a8.1bfb3a","name":"Wemos Test Hostname","topic":"wemosTestClient/Hostname","qos":"2","broker":"6f281d5.b4febe4","x":221,"y":1032,"wires":[["b88a2411.b5a928"]]},{"id":"f344e880.752088","type":"ui_text","z":"2f5aa5a8.1bfb3a","group":"ce20c9af.d083f8","order":5,"width":0,"height":0,"name":"WemosTest Uptime","label":"UpTime: ","format":"{{msg.payload}}","layout":"row-left","x":450,"y":1100,"wires":[]},{"id":"78337009.727a8","type":"mqtt in","z":"2f5aa5a8.1bfb3a","name":"WemosTestClientuptime","topic":"wemosTestClient/upTime","qos":"2","broker":"6f281d5.b4febe4","x":223,"y":1100,"wires":[["f344e880.752088","c42dcd7b.945fa"]]},{"id":"c42dcd7b.945fa","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"console":"false","complete":"payload","x":430,"y":1149,"wires":[]},{"id":"e584dbd3.e322f8","type":"ui_text","z":"2f5aa5a8.1bfb3a","group":"ce20c9af.d083f8","order":6,"width":0,"height":0,"name":"WemosTest Curr Time","label":"Curr Time: ","format":"{{msg.payload}}","layout":"row-left","x":460,"y":1219.7999267578125,"wires":[]},{"id":"3d3c9859.433af8","type":"mqtt in","z":"2f5aa5a8.1bfb3a","name":"wemosTestClientCurrTime","topic":"wemosTestClient/currTime","qos":"2","broker":"6f281d5.b4febe4","x":233,"y":1219.7999267578125,"wires":[["e584dbd3.e322f8","bd291340.b29f7"]]},{"id":"bd291340.b29f7","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"console":"false","complete":"payload","x":430,"y":1268.7999267578125,"wires":[]},{"id":"ba43f0a.381de1","type":"ui_text","z":"2f5aa5a8.1bfb3a","group":"ce20c9af.d083f8","order":11,"width":0,"height":0,"name":"Wemos BootTime","label":"Boot Time: ","format":"{{msg.payload}}","layout":"row-left","x":450,"y":1329,"wires":[]},{"id":"6659dff2.5e852","type":"mqtt in","z":"2f5aa5a8.1bfb3a","name":"wemosTestClientBootTime","topic":"wemosTestClient/bootTime","qos":"2","broker":"6f281d5.b4febe4","x":233,"y":1329,"wires":[["ba43f0a.381de1","cb809725.5cfd28"]]},{"id":"cb809725.5cfd28","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"console":"false","complete":"payload","x":430,"y":1378,"wires":[]},{"id":"c0e6540b.2c10f8","type":"ui_text","z":"2f5aa5a8.1bfb3a","group":"ce20c9af.d083f8","order":12,"width":0,"height":0,"name":"WemosTest Free Heap","label":"Free Heap:","format":"{{msg.payload}}","layout":"row-left","x":458,"y":1592,"wires":[]},{"id":"5c42fdc5.b68914","type":"mqtt in","z":"2f5aa5a8.1bfb3a","name":"wemosTestClientfreeHeap","topic":"wemosTestClient/freeHeap","qos":"2","broker":"6f281d5.b4febe4","x":203,"y":1593,"wires":[["c0e6540b.2c10f8","3278594f.4a2416","c226b8ca.96dbf8"]]},{"id":"3278594f.4a2416","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"console":"false","complete":"payload","x":407,"y":1735,"wires":[]},{"id":"cecde2de.6b61a","type":"ui_text","z":"2f5aa5a8.1bfb3a","group":"ce20c9af.d083f8","order":13,"width":0,"height":0,"name":"WemosTest Last Reset Reason","label":" Reset Reason:","format":"{{msg.payload}}","layout":"row-left","x":550,"y":1804,"wires":[]},{"id":"e9262999.711258","type":"mqtt in","z":"2f5aa5a8.1bfb3a","name":"wemosTestClientLastResetReason","topic":"wemosTestClient/lastResetReason","qos":"2","broker":"6f281d5.b4febe4","x":257,"y":1804,"wires":[["cecde2de.6b61a","5d4c2580.525bec"]]},{"id":"5d4c2580.525bec","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"console":"false","complete":"payload","x":524,"y":1924,"wires":[]},{"id":"c226b8ca.96dbf8","type":"ui_chart","z":"2f5aa5a8.1bfb3a","name":"Wemos Heap Size","group":"ce20c9af.d083f8","order":15,"width":0,"height":0,"label":"Free Heap","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Wemos Heap Size","ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":470,"y":1664,"wires":[[],[]]},{"id":"d3f8e4f1.77d438","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"console":"false","complete":"payload","x":344,"y":294,"wires":[]},{"id":"1c8694a9.c3cf7b","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"console":"false","complete":"false","x":359.0142059326172,"y":827.4601955413818,"wires":[]},{"id":"20e8cb91.2246e4","type":"ui_text","z":"2f5aa5a8.1bfb3a","group":"1a254ea6.e12251","order":0,"width":0,"height":0,"name":"","label":"Charging Power:","format":"{{msg.payload}}","layout":"row-left","x":497.99999237060547,"y":2110.193202972412,"wires":[]},{"id":"5ddcc6d.48be138","type":"mqtt in","z":"2f5aa5a8.1bfb3a","name":"wemosTestClientpwrState","topic":"wemosTestClient/pwrState","qos":"2","broker":"6f281d5.b4febe4","x":164,"y":2112.193115234375,"wires":[["20e8cb91.2246e4","4cc19505.7dc54c"]]},{"id":"4cc19505.7dc54c","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"console":"false","complete":"payload","x":273.7868957519531,"y":2043.519874572754,"wires":[]},{"id":"4cf225fa.f2921c","type":"ui_text","z":"2f5aa5a8.1bfb3a","group":"1a254ea6.e12251","order":0,"width":0,"height":0,"name":"Batt Chrg State","label":"Batt charg State:","format":"{{msg.payload}}","layout":"row-left","x":503.00000762939453,"y":2301.829870223999,"wires":[]},{"id":"1f263c10.1793c4","type":"mqtt in","z":"2f5aa5a8.1bfb3a","name":"wemosTestClientBattChargeState","topic":"wemosTestClient/dneState","qos":"2","broker":"6f281d5.b4febe4","x":181.99998474121094,"y":2285.82958984375,"wires":[["4cf225fa.f2921c","83a36618.2baaa8"]]},{"id":"83a36618.2baaa8","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":599.0142059326172,"y":2233.82958984375,"wires":[]},{"id":"16431e4c.cefb62","type":"ui_text","z":"2f5aa5a8.1bfb3a","group":"ce20c9af.d083f8","order":7,"width":0,"height":0,"name":"","label":"Sleep Time: ","format":"{{msg.payload}}","layout":"row-left","x":370,"y":2480,"wires":[]},{"id":"5b55ef0c.2ad2a","type":"mqtt in","z":"2f5aa5a8.1bfb3a","name":"Wemos/sleeptime","topic":"wemosTestClient/sleepTime","qos":"2","broker":"6f281d5.b4febe4","x":143,"y":2512.003849029541,"wires":[["1668d3e7.54b56c","16431e4c.cefb62"]]},{"id":"1668d3e7.54b56c","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"console":"false","complete":"false","x":399.8489532470703,"y":2421.4974689483643,"wires":[]},{"id":"c68efbc9.d604f8","type":"ui_text","z":"2f5aa5a8.1bfb3a","group":"ce20c9af.d083f8","order":8,"width":0,"height":0,"name":"","label":"Sleep State:","format":"{{msg.payload}}","layout":"row-left","x":410,"y":2737,"wires":[]},{"id":"c1fe2466.f74df8","type":"mqtt in","z":"2f5aa5a8.1bfb3a","name":"Wemos/SleepState","topic":"wemosTestClient/SleepState","qos":"2","broker":"6f281d5.b4febe4","x":150,"y":2717,"wires":[["c68efbc9.d604f8"]]},{"id":"22bc04f5.da7fbc","type":"ui_numeric","z":"2f5aa5a8.1bfb3a","name":"","label":"Set Sleep Time","group":"956a5a8b.7d2768","order":2,"width":0,"height":0,"passthru":true,"topic":"wemosTestClient/setSleepTime","format":"{{value}}","min":"10","max":"600","step":"1","x":160,"y":2860,"wires":[["4600fa83.bcb274","8fcc1f75.800c8"]]},{"id":"4600fa83.bcb274","type":"mqtt out","z":"2f5aa5a8.1bfb3a","name":"SendSleepTime","topic":"","qos":"","retain":"true","broker":"6f281d5.b4febe4","x":420,"y":2880,"wires":[]},{"id":"8fcc1f75.800c8","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":350,"y":2840,"wires":[]},{"id":"6a91242c.64419c","type":"mqtt out","z":"2f5aa5a8.1bfb3a","name":"send Upgrade","topic":"","qos":"1","retain":"true","broker":"6f281d5.b4febe4","x":440,"y":3094,"wires":[]},{"id":"d357383b.bd7698","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":410,"y":2980,"wires":[]},{"id":"c142343f.39fb98","type":"ui_switch","z":"2f5aa5a8.1bfb3a","name":"Upgrade","label":"Upgrade","group":"25441350.034f2c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"wemosTestClient/Update","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":170,"y":3040,"wires":[["6a91242c.64419c","3cffd5ef.3cc4ea"]]},{"id":"36c12435.e1fa6c","type":"ui_text","z":"2f5aa5a8.1bfb3a","group":"ce20c9af.d083f8","order":9,"width":0,"height":0,"name":"","label":"ADC ADJUST: ","format":"{{msg.payload}}","layout":"row-left","x":379,"y":3217,"wires":[]},{"id":"a05bec09.a408a","type":"mqtt in","z":"2f5aa5a8.1bfb3a","name":"Wemos/adc_adjust","topic":"wemosTestClient/ADC","qos":"2","broker":"6f281d5.b4febe4","x":122,"y":3172.003849029541,"wires":[["8b6ed835.8ea358","36c12435.e1fa6c"]]},{"id":"8b6ed835.8ea358","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"console":"false","complete":"false","x":381,"y":3162,"wires":[]},{"id":"264ea9a6.faa246","type":"ui_numeric","z":"2f5aa5a8.1bfb3a","name":"Wemos set ADC","label":"Set ADC ADJUST","group":"956a5a8b.7d2768","order":3,"width":0,"height":0,"passthru":true,"topic":"wemosTestClient/setAdcAdjust","format":"{{value}}","min":"174.01","max":"250.00","step":".05","x":150,"y":3780,"wires":[["645904e5.d4f4ec","3df7cbfa.c8c0a4"]]},{"id":"645904e5.d4f4ec","type":"mqtt out","z":"2f5aa5a8.1bfb3a","name":"Send ADC_ADJUST","topic":"","qos":"1","retain":"true","broker":"6f281d5.b4febe4","x":440,"y":3820,"wires":[]},{"id":"3df7cbfa.c8c0a4","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":3740,"wires":[]},{"id":"86c412ab.ba969","type":"mqtt out","z":"2f5aa5a8.1bfb3a","name":"Manufacturing_Mode","topic":"","qos":"1","retain":"true","broker":"6f281d5.b4febe4","x":449,"y":3500,"wires":[]},{"id":"556fec56.5b43c4","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":390,"y":3380,"wires":[]},{"id":"7f1bd72a.2828e8","type":"ui_switch","z":"2f5aa5a8.1bfb3a","name":"Manufacturing_Mode","label":"Manufacturing Mode","group":"25441350.034f2c","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"wemosTestClient/manufacturingMode","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":190,"y":3440,"wires":[["556fec56.5b43c4","86c412ab.ba969"]]},{"id":"fd09fc2a.a55e2","type":"ui_text","z":"2f5aa5a8.1bfb3a","group":"956a5a8b.7d2768","order":1,"width":0,"height":0,"name":"","label":"MANUFACTIING MODE MUST BE ENABLED TO BE ACTIVE","format":"{{msg.payload}}","layout":"row-spread","x":250,"y":3300,"wires":[]},{"id":"6aa46e3f.8736b","type":"mqtt in","z":"2f5aa5a8.1bfb3a","name":"upgSwitchState","topic":"wemosTestClient/upgSwitchState","qos":"2","broker":"6f281d5.b4febe4","x":100,"y":2940,"wires":[["d357383b.bd7698","c142343f.39fb98"]]},{"id":"3cffd5ef.3cc4ea","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":3040,"wires":[]},{"id":"c686f8c2.ee4538","type":"http in","z":"2f5aa5a8.1bfb3a","name":"WemosUpdateListen","url":"http://192.168.100.238:update/wemosTestClient/","method":"get","upload":false,"swaggerDoc":"","x":890,"y":4900,"wires":[["235161f0.2f0eae","721e3459.55ff8c"]]},{"id":"235161f0.2f0eae","type":"function","z":"2f5aa5a8.1bfb3a","name":"Construct Search Path","func":"msg.type=msg.req.params.type;\nvar h=msg.req.headers;\nmsg.version=h[\"x-esp8266-version\"];\n\nmsg.mode=h[\"x-esp8266-mode\"];\nif(msg.mode==\"sketch\"){\n    //msg.payload=\"/home/pi/trucFirmware/*.ino.\"+msg.type+\".bin\";\n    //msg.payload=\"/var/www/html/update/wemosTestClient/*.ino.\"+msg.type+\".bin\";\n    msg.payload=\"/home/pi/update/*.ino.\"+msg.type+\".bin\";\n}\nelse {\n    var sz=h['x-esp8266-chip-size'];\n    msg.payload=\"/home/pi/trucFirmware/spiffs_*_\"+(sz/1048576)+\"M.bin\";\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":1040,"y":4953,"wires":[["ccd83a9c.483138"]]},{"id":"ccd83a9c.483138","type":"exec","z":"2f5aa5a8.1bfb3a","command":"ls -r","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":300,"y":5101,"wires":[[],["1b41f6c6.2b5fd9"],[]]},{"id":"1b41f6c6.2b5fd9","type":"function","z":"2f5aa5a8.1bfb3a","name":"Compare Versions","func":"var f=msg.payload.split(\"\\n\")[0];\nmsg.filename=f;\n\nif(msg.mode==\"sketch\"){\n    f=f.replace(\"/home/pi/update/wemosTestClient\",\"\");\n    f=f.replace(\".ino.\"+msg.type+\".bin\",\"\");\n}\nelse {\n    f=f.replace(\"/home/pi/trucFirmware/spiffs_\",\"\");\n    f=f.replace(/_\\dM\\.bin/,\"\");\n}\n\nif(msg.version < f){\n\n    node.warn(\"upgrade required\");\n    node.warn(\"will return \"+msg.filename);\n    return msg;\n}\nnode.warn(\"no upgrade\");\nmsg.statusCode=304;\nmsg.payload=[];\n\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":5201,"wires":[["45749987.60a7f8"]]},{"id":"45749987.60a7f8","type":"switch","z":"2f5aa5a8.1bfb3a","name":"upgrade ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"\"no upgrade\"","vt":"str"},{"t":"eq","v":"\"upgrade required\"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":5281,"wires":[["5b2beca1.413bd4"],["e1033421.013138"]]},{"id":"5b2beca1.413bd4","type":"http response","z":"2f5aa5a8.1bfb3a","name":"","statusCode":"","headers":{},"x":800,"y":5274,"wires":[]},{"id":"e1033421.013138","type":"file in","z":"2f5aa5a8.1bfb3a","name":"","filename":"Uprade, Version is Higher","format":"utf8","chunk":false,"sendError":false,"x":680,"y":5381,"wires":[["5b2beca1.413bd4"]]},{"id":"c3150576.07e058","type":"comment","z":"2f5aa5a8.1bfb3a","name":"No update return 304","info":"","x":639,"y":5253,"wires":[]},{"id":"a153f4c.0f88d08","type":"comment","z":"2f5aa5a8.1bfb3a","name":"Latest is higher, send new binary","info":"","x":686,"y":5425,"wires":[]},{"id":"721e3459.55ff8c","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":4880,"wires":[]},{"id":"a5e1ba06.bc3c18","type":"ui_text","z":"2f5aa5a8.1bfb3a","group":"ce20c9af.d083f8","order":4,"width":0,"height":0,"name":"","label":"MAC Addr:","format":"{{msg.payload}}","layout":"row-left","x":450,"y":1440,"wires":[]},{"id":"da27e023.e76cc","type":"mqtt in","z":"2f5aa5a8.1bfb3a","name":"wemos/MAC","topic":"wemosTestClient/MAC","qos":"2","broker":"6f281d5.b4febe4","x":207.5,"y":1445.8332328796387,"wires":[["a5e1ba06.bc3c18","ac631ae9.74aa38"]]},{"id":"ac631ae9.74aa38","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"console":"false","complete":"false","x":461.3242416381836,"y":1535.6694116592407,"wires":[]},{"id":"3ee9ca0d.c2e846","type":"ui_text","z":"2f5aa5a8.1bfb3a","group":"956a5a8b.7d2768","order":4,"width":0,"height":0,"name":"Display Calibration SECTION","label":"DISPLAY  CALLIBRATION SECTION","format":"{{msg.payload}}","layout":"row-spread","x":260,"y":3920,"wires":[]},{"id":"ac50c50d.5d4068","type":"ui_numeric","z":"2f5aa5a8.1bfb3a","name":"wemosTestClient/turnOnLcdDelay","label":"turnOnLcdDelay","group":"956a5a8b.7d2768","order":5,"width":0,"height":0,"passthru":true,"topic":"wemosTestClient/turnOnLcdDelay","format":"{{value}}","min":"100","max":"5000","step":"1","x":200,"y":4080,"wires":[["d63356b4.ff0f18","72df4a8d.862784"]]},{"id":"d63356b4.ff0f18","type":"mqtt out","z":"2f5aa5a8.1bfb3a","name":"SendturnOnLcdDelayTime","topic":"","qos":"","retain":"true","broker":"6f281d5.b4febe4","x":520,"y":4140,"wires":[]},{"id":"72df4a8d.862784","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":4040,"wires":[]},{"id":"595c0f46.3ca98","type":"ui_numeric","z":"2f5aa5a8.1bfb3a","name":"wemosTestClient/turnOffLcdDelay","label":"turnOffLcdDelay","group":"956a5a8b.7d2768","order":6,"width":0,"height":0,"passthru":true,"topic":"wemosTestClient/turnOffLcdDelay","format":"{{value}}","min":"1000","max":"5000","step":"5","x":200,"y":4260,"wires":[["a7114c5e.fdbd1","d0ec8568.06a418"]]},{"id":"a7114c5e.fdbd1","type":"mqtt out","z":"2f5aa5a8.1bfb3a","name":"SendturnOnLcdDelayTime","topic":"","qos":"","retain":"true","broker":"6f281d5.b4febe4","x":520,"y":4320,"wires":[]},{"id":"d0ec8568.06a418","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":4220,"wires":[]},{"id":"96b753d6.aa43f","type":"ui_numeric","z":"2f5aa5a8.1bfb3a","name":"wemosTestClient/PingMinDist","label":"minSensorDistance","group":"956a5a8b.7d2768","order":8,"width":0,"height":0,"passthru":true,"topic":"wemosTestClient/pingMinDist","format":"{{value}}","min":"10","max":"50","step":"5","x":190,"y":4490,"wires":[["234c49d1.6f52a6","5ff293a7.ab69cc"]]},{"id":"234c49d1.6f52a6","type":"mqtt out","z":"2f5aa5a8.1bfb3a","name":"SendminDistance","topic":"","qos":"","retain":"true","broker":"6f281d5.b4febe4","x":490,"y":4550,"wires":[]},{"id":"5ff293a7.ab69cc","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":4450,"wires":[]},{"id":"29ec370e.3e66d8","type":"ui_text","z":"2f5aa5a8.1bfb3a","group":"956a5a8b.7d2768","order":7,"width":0,"height":0,"name":"Distance Sensor Calibration Section","label":"DISTANCE SENSOR CALLIBRATION SECTION","format":"{{msg.payload}}","layout":"row-spread","x":290,"y":4400,"wires":[]},{"id":"135f2cd3.bd2cd3","type":"ui_numeric","z":"2f5aa5a8.1bfb3a","name":"wemosTestClient/setPingMaxDist","label":"maxSensorDistance","group":"956a5a8b.7d2768","order":8,"width":0,"height":0,"passthru":true,"topic":"wemosTestClient/setPingMaxDist","format":"{{value}}","min":"20","max":"120","step":"5","x":200,"y":4640,"wires":[["91be5732.e6bbb8","47c7e27d.b174ac"]]},{"id":"91be5732.e6bbb8","type":"mqtt out","z":"2f5aa5a8.1bfb3a","name":"SendmaxDistance","topic":"","qos":"","retain":"true","broker":"6f281d5.b4febe4","x":490,"y":4720,"wires":[]},{"id":"47c7e27d.b174ac","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":4620,"wires":[]},{"id":"da35c03c.f33e2","type":"ui_numeric","z":"2f5aa5a8.1bfb3a","name":"wemosTestClient/pingSpeed","label":"pingSpeed","group":"956a5a8b.7d2768","order":8,"width":0,"height":0,"passthru":true,"topic":"wemosTestClient/","format":"{{value}}","min":"100","max":"1000","step":"10","x":203,"y":4831.8994140625,"wires":[["b24c7344.3101e","cf0f881e.864228"]]},{"id":"b24c7344.3101e","type":"mqtt out","z":"2f5aa5a8.1bfb3a","name":"SendpingSpeed","topic":"","qos":"","retain":"true","broker":"6f281d5.b4febe4","x":503,"y":4891.8994140625,"wires":[]},{"id":"cf0f881e.864228","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":493,"y":4791.8994140625,"wires":[]},{"id":"118315b9.a4a05a","type":"ui_text","z":"2f5aa5a8.1bfb3a","group":"ce20c9af.d083f8","order":10,"width":0,"height":0,"name":"","label":"PingMaxDist: ","format":"{{msg.payload}}","layout":"row-left","x":390,"y":2624,"wires":[]},{"id":"8cb286d7.5be1a8","type":"mqtt in","z":"2f5aa5a8.1bfb3a","name":"Wemos/pingMaxDist","topic":"wemosTestClient/pingMaxDist","qos":"2","broker":"6f281d5.b4febe4","x":163,"y":2612.003849029541,"wires":[["dd2df145.8ef83","118315b9.a4a05a"]]},{"id":"dd2df145.8ef83","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"console":"false","complete":"false","x":419.8489532470703,"y":2558.4974689483643,"wires":[]},{"id":"3397f78b.634608","type":"ui_switch","z":"2f5aa5a8.1bfb3a","name":"","label":"Bench Lamp","group":"25441350.034f2c","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"cmnd/TbOffice/sonof/testBench/lamp/power","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":890,"y":3680,"wires":[["c7ba37f9.435198"]]},{"id":"c7ba37f9.435198","type":"mqtt out","z":"2f5aa5a8.1bfb3a","name":"Sonof-TestBench","topic":"","qos":"","retain":"true","broker":"6f281d5.b4febe4","x":1140,"y":3740,"wires":[]},{"id":"3c85a26.2836c5e","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":3500,"wires":[]},{"id":"cf9b212e.6bb6c","type":"mqtt in","z":"2f5aa5a8.1bfb3a","name":"TestBenchLamp State","topic":"stat/cmnd/TbOffice/sonof/testBench/la/POWER","qos":"2","broker":"6f281d5.b4febe4","x":400,"y":3580,"wires":[["3c85a26.2836c5e","2d4759d1.9d8936"]]},{"id":"4f125a32.007674","type":"inject","z":"2f5aa5a8.1bfb3a","name":"","topic":"stat/cmnd/TbOffice/sonof/testBench/la/POWER","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":3740,"wires":[["3397f78b.634608","e997299c.048208"]]},{"id":"e997299c.048208","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":3820,"wires":[]},{"id":"2d4759d1.9d8936","type":"change","z":"2f5aa5a8.1bfb3a","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":3640,"wires":[["3397f78b.634608"]]},{"id":"9efd79f3.2c15a8","type":"mqtt out","z":"2f5aa5a8.1bfb3a","name":"send Reload","topic":"","qos":"1","retain":"true","broker":"6f281d5.b4febe4","x":1070,"y":3120,"wires":[]},{"id":"9c293a8e.643fd8","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1050,"y":3006,"wires":[]},{"id":"55119472.4a75cc","type":"ui_switch","z":"2f5aa5a8.1bfb3a","name":"Reload","label":"Reload","group":"25441350.034f2c","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"wemosTestClient/espRestart","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":810,"y":3066,"wires":[["9efd79f3.2c15a8","47e8fecd.2a99b"]]},{"id":"ffeffd9e.38723","type":"mqtt in","z":"2f5aa5a8.1bfb3a","name":"relSwitchState","topic":"wemosTestClient/espRestartSwitchState","qos":"2","broker":"6f281d5.b4febe4","x":730,"y":2966,"wires":[["9c293a8e.643fd8","55119472.4a75cc"]]},{"id":"47e8fecd.2a99b","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1070,"y":3066,"wires":[]},{"id":"3baf44a2.3f712c","type":"mqtt out","z":"2f5aa5a8.1bfb3a","name":"send Upgrade","topic":"","qos":"1","retain":"true","broker":"6f281d5.b4febe4","x":1020,"y":3340,"wires":[]},{"id":"be1d9038.192df","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":990,"y":3226,"wires":[]},{"id":"46598988.8fe638","type":"ui_switch","z":"2f5aa5a8.1bfb3a","name":"forceUpgrade","label":"Force Upgrade","group":"25441350.034f2c","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"wemosTestClient/forceUpdate","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":770,"y":3286,"wires":[["3baf44a2.3f712c","fc15f4fd.f2ce88"]]},{"id":"c4bb4e7a.399ca","type":"mqtt in","z":"2f5aa5a8.1bfb3a","name":"ForceUpgSwitchState","topic":"wemosTestClient/forceUpgSwitchState","qos":"2","broker":"6f281d5.b4febe4","x":700,"y":3186,"wires":[["be1d9038.192df","46598988.8fe638"]]},{"id":"fc15f4fd.f2ce88","type":"debug","z":"2f5aa5a8.1bfb3a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1010,"y":3286,"wires":[]},{"id":"b45f54f0.6cf7f8","type":"ui_text","z":"2f5aa5a8.1bfb3a","group":"25441350.034f2c","order":4,"width":0,"height":0,"name":"Reload Tip","label":"Both Reload and Manufacturing mode most be enabled for reload to take affect","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":2920,"wires":[]},{"id":"6f281d5.b4febe4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"29bafb5.81fef04","type":"ui_group","z":"","name":"Wemos Inside Temp","tab":"6fca0f97.d51ff","order":2,"disp":true,"width":"6"},{"id":"fdd2fc9f.43515","type":"ui_group","z":"","name":"Humidity","tab":"6fca0f97.d51ff","order":5,"disp":true,"width":"6"},{"id":"73907107.3104b","type":"ui_group","z":"","name":"Pressure","tab":"6fca0f97.d51ff","order":4,"disp":true,"width":"6"},{"id":"db0f1293.4b787","type":"ui_group","z":"","name":"Outside Temp","tab":"6fca0f97.d51ff","order":3,"disp":true,"width":"6"},{"id":"1a254ea6.e12251","type":"ui_group","z":"","name":"ESP VCC","tab":"6fca0f97.d51ff","order":6,"disp":true,"width":"6"},{"id":"ce20c9af.d083f8","type":"ui_group","z":"","name":"Wemos System Info","tab":"6fca0f97.d51ff","order":8,"disp":true,"width":"6"},{"id":"956a5a8b.7d2768","type":"ui_group","z":"","name":"Manufacturing/Callibration","tab":"6fca0f97.d51ff","order":9,"disp":true,"width":"6"},{"id":"25441350.034f2c","type":"ui_group","z":"","name":"Wemos Test Switches","tab":"6fca0f97.d51ff","order":7,"disp":true,"width":"6"},{"id":"6fca0f97.d51ff","type":"ui_tab","z":"","name":"Wemos","icon":"dashboard","order":4}]